/* Estilos generales */
* {
    font-family: Inter, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    color: #737373;
    line-height: 20px;
}

main {
    display: flex;
    height:100%;
}

/* Barra lateral */
.sidebar {
    width: 150px;
    height: 100vh;
    max-width: 15rem;
    background-color: #f5f5f5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* INFORMACIÓN DEL USUARIO */
.user-info {
    display: flex;
    align-items: center;
}

/* Foto de perfil del usuario */
.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.username {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
}

.rol {
    font-size: 14px;
    font-weight: 300;
    color: #737373;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 38vh;
    font-size: 14px;
}

.menu a {
    color: #737373;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu a:hover {
    color: #404040;
}

.menu-icon {
    margin-right: 8px;
    max-width: 16px;
    max-height: 16px;
}

.seccionBotones {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnNewTicket {
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: darkcyan;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.btnCerrarSesion {
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #3f3f3f;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

/* Barra superior */
.topbar {
    background-color: #f4f4f4;
    color: #3f3f3f;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-left: 15%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: darkcyan;
}

/* Estilo del contenido del Dashboard */
.content {
    max-width: 56rem;
    padding: 80px 100px 80px 100px;
}

/* Dashboard */
.dashboard {
    border-radius: 8px;
    color: #737373;
}

/* Titulo página */
.tituloPagina {
    color: #505050;
}

/* Container Principal */
.containerForm {
    background-color: white;
    display: flex;
    flex-direction: row; /* Mantiene el diseño horizontal de los hijos */
    width: 80%;
    height: 80%; /* Ajusta según el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Para una estética moderna */
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
    margin: auto; /* Horizontalmente centrado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra completamente */
}

/* Imagen de fondo */
.containerForm-image {
    width: 60%;
    background-image: url('../images/formWallpaper.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

/* Formulario */
.containerForm-form {
    width: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.containerForm-form h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.containerForm-form h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #444;
    font-weight: 500;
}

.containerForm-form label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555;
}

.containerForm-form input[type="email"],
.containerForm-form input[type="password"] {
    margin-top: 8px;
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ddd;
    padding: 12px 0px 12px 0px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

.containerForm-form input[type="email"]:focus,
.containerForm-form input[type="password"]:focus {
    border-color: darkcyan;
    outline: none;
}

.containerForm-form input[type="submit"] {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 25px;
}

.containerForm-form input[type="submit"]:hover {
    background-color: #007f7f;
}

.register {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;

}

/* Switch y enlaces */
.containerForm-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.containerForm-form a {
    text-decoration: none;
    font-size: 12px;
    color: darkcyan;
    transition: color 0.3s ease;
}

.containerForm-form a:hover {
    color: #005f5f;
}

/* Footer */
.containerForm-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.containerForm-footer p {
    margin: 5px 0;
}

/* APP */

.tituloDashboard {
    color: #505050;
}

/* TICKETS */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}