/* Estilos generales */
* {
    font-family: Inter, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #737373;
}

main {
    display: flex;
    height:100%;
}

/* Barra lateral */
.sidebar {
    width: 150px;
    height: 100vh;
    max-width: 15rem;
    background-color: #f5f5f5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: sticky;
    top: 0;
}

/* INFORMACIÓN DEL USUARIO */
.user-info {
    display: flex;
    align-items: center;
}

/* Foto de perfil del usuario */
.user-info img {
    width: 40px; /* Ajusta según el tamaño deseado */
    height: 40px; /* Asegúrate de que el ancho y alto sean iguales */
    border-radius: 50%;
    object-fit: cover; /* Opcional: ajusta cómo la imagen encaja en el contenedor */
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.username {
    font-size: 14px;
    font-weight: 700;
    color: #404040;
}

.rol {
    font-size: 14px;
    font-weight: 300;
    color: #737373;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 38vh;
    font-size: 14px;
}

.menu a {
    color: #737373;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu a:hover {
    color: #404040;
}

.menu-icon {
    margin-right: 8px;
    max-width: 16px;
    max-height: 16px;
}

.seccionBotones {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnNewTicket {
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: darkcyan;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.btnNewTicket:hover {
    color: white;
}

.btnCerrarSesion {
    padding: 10px 0px 10px 0px;
    color: white;
    background-color: #3f3f3f;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.btnCerrarSesion:hover {
    color: white;
}

/* Barra superior */
.topbar {
    background-color: #f4f4f4;
    color: #3f3f3f;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-left: 15%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: darkcyan;
}

/* Estilo del contenido del Dashboard */
.content {
    padding: 80px 100px 80px 100px;
    width: 90%;
}

/* Dashboard */
.dashboard {
    border-radius: 8px;
    color: #737373;
}

/* Titulo página */
.tituloPagina {
    color: #505050;
}

/* Container Principal */
.containerForm {
    background-color: white;
    display: flex;
    flex-direction: row; /* Mantiene el diseño horizontal de los hijos */
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Para una estética moderna */
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
    margin: auto; /* Horizontalmente centrado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra completamente */
    font-size: 14px;
}

/* Imagen de fondo */
.containerForm-image {
    width: 60%;
    background-image: url('../images/formWallpaper.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

/* Formulario iniciar sesión */
.containerForm-form {
    width: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.containerForm-form h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.containerForm-form h2 {
    font-size: 18px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #444;
}

/* Mensajes en el login */
.messageError {
    background-color: darkred;
    color: white;
    padding: 15px 12px 15px 12px;
    border-radius: 5px;
}


/* Formulario registro */
.signInForm {
    display: flex;
    flex-direction: row; /* Mantiene el diseño horizontal de los hijos */
    width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Para una estética moderna */
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
    margin: auto; /* Horizontalmente centrado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra completamente */
    padding: 80px;
    font-size: 14px;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-top: 8px;
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ddd;
    padding: 12px 0px 12px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

form textarea {
    margin-top: 8px;
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ddd;
    padding: 12px 0px 12px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

form select {
    margin-top: 8px;
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ddd;
    padding: 12px 0px 12px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: darkcyan;
    outline: none;
}

input[type="submit"] {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 25px;
}

input[type="submit"]:hover {
    background-color: #007f7f;
}

.register {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
    font-size: 14px;
}

/* Switch y enlaces */
.containerForm-form div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: darkcyan;
    transition: color 0.3s ease;
}

a:hover {
    color: #005f5f;
}

/* Footer */
.containerForm-footer {
    margin-top: 20px;
    text-align: center;
    color: #999;
}

.containerForm-footer p {
    margin: 5px 0;
}

/* APP */
.tituloDashboard {
    color: #505050;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.tituloDashboard svg {
    margin-left: 10px;
}

/* TICKETS */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* CATEGORIAS */
.newCategoryForm {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row; /* Mantiene el diseño horizontal de los hijos */
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Para una estética moderna */
    border-radius: 10px; /* Opcional: para esquinas redondeadas */
    margin: auto; /* Horizontalmente centrado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra completamente */
    font-size: 14px;
    padding: 50px 0px 50px 0px;
}

/* VENTANA POPUP */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    color: #505050;
}

.modal-content button {
        background-color: darkcyan;
        color: white;
        border: none;
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s ease;
        width: 100%;
}

.modal-content button:hover {
    background-color: #007f7f;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* DETALLES TICKET */
.cabeceraTicket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cabeceraDetallesTicket {
    display: flex;
    flex-direction: column;
}

.cabeceraDetallesTicket div span {
    display: flex;
    align-items: center;
}

.cabeceraDetallesTicket p {
    margin: 5px;
}

.cabeceraDetallesTicket div span p {
    margin-right: 15px;
}


.numTicket{
    color: #505050;
    font-size: 20px;
    font-weight: 600;
}

.prioridadTicket {
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
}

.prioridadTicket.baja {
    background-color: green;
}

.prioridadTicket.media {
    background-color: orange;
}

.prioridadTicket.alta {
    background-color: red;
}

.estadoTicket {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 13px 12px 13px 12px;
    border-radius: 8px;
}

.estadoTicket.abierto {
    background-color: green;
}

.estadoTicket.en_progreso {
    background-color: orange;
}

.estadoTicket.cerrado {
    background-color: red;
}

.ticket{
    color: #505050;
    font-size: 40px;
    font-weight: 600;
}

/* Mensajes ticket */
.mensajeTicket {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px#50505024;
    border-radius: 8px;
    margin-bottom: 20px;
}

.fotoUsuarioTicket {
    margin-right: 25px;
}

.mensajeTicket div img{
    width: 100px; /* Ajusta según el tamaño deseado */
    height: 100px; /* Asegúrate de que el ancho y alto sean iguales */
    border-radius: 50%;
    object-fit: cover; /* Opcional: ajusta cómo la imagen encaja en el contenedor */
}

.usuarioTicket {
    color: #505050;
    font-weight: bold;
}

.btnEnviarRespuesta {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: darkcyan;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}